h1 {
    padding: 20px;
}

.photoOfMe img{
    width: 400px;
    height: auto;
}

.content {
    display: flex;
    padding-top: 20px;
}

.written {
    width: 48%;
    padding-left: 10px;
}

.written p {
    margin-bottom: 10px;
}

.written h2 {
    padding: 10px;
}

.image {
    width: 48%;
}